radio input[type="radio"]{
	display:none;
}


#container {
    margin: 0 auto;
    max-width: 720px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
	height: auto;
	position: relative;
	
}

.start_btn {
position: absolute;
left: 50%;
top: 85%;
max-width: 106px;
transform: translate( -50%, -50% );
 }

 #myModal, #myModal2, #myModal3, #myModal4, #myModal5, #myModal6, #myModal7 {
	position: absolute;
	top:0;
	margin: 0 auto;
	max-width: 720px;
	height: auto;
	display:none;
	width:100%
}



.gender {
		position: absolute;
		top: 41%;
		left: 15%;
        color: #fff;
        font-size: 14px;
        font-family: NotoSansCJKkr-Medium, Noto Sans CJK KR;
        font-weight: 500;
        letter-spacing: -0.02em;
        
      }


.check { opacity: 1;color:white;}
		
.uncheck { opacity: 0.7}

label {opacity:0.7}


#c_alert { display:none; position: absolute; max-width: 360px; width:100%; z-index: 1000; margin-top:108px; height:186px; background-image:url('/resource/images/main/exit_alert.svg');background-position: center; background-repeat:no-repeat;transform:translate(50%, 50%)}
.q_close { position: absolute; margin: 16px; max-width: 48vw; }
.q_title { position: absolute; top: 27%; left: 13%; min-width: 212px;}
.q_sub_title { position: absolute; left: 13%; color:white;}
.btn_next { position: absolute; left: 10%; top: 60%; max-width: 104px; display: none;}
.btn_main { position: absolute; left:10%; top: 45%; min-width: 160px;}
.btn_prev { position: absolute; left:5%; top: 60%; max-width: 104px;}
.percentage {position:absolute; bottom:32px; max-width: 688px;margin:0 16px 0 16px; width:auto;}
.name_text { 
        position:absolute; top:50%; left:13%; max-width: 248px;
        color: #fff;
        font-size: 16px;
        font-family: NotoSansCJKkr-Medium, Noto Sans CJK KR;
        font-weight: 500;
        letter-spacing: -0.02em;
        
 }
.date_text { 
        position:absolute; top:50%; left:13%; max-width: 248px; 
        color: #fff;
        font-size: 16px;
        font-family: NotoSansCJKkr-Medium, Noto Sans CJK KR;
        font-weight: 500;
        letter-spacing: -0.02em;
        }
.splash_title { position:absolute; top:27%;left:25%;color:#fff;font-size:20px;font-family:Sandoll GongbyunggakPen, Sandoll GongbyunggakPen;font-weight:500;}

.c_btn {
        max-width:360px;
        float:left;
        margin-top:140px;
}